
  html *
 

*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("USSRFLAG.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
 
ol {
    float: right;
    list-style-type: none;
    margin-top: 25px;    
}

ol li {
   display: inline-block;
}
  
ol li a {
     text-decoration: none;
     color: #fff;
     padding: 5px 20px;
     border: 1px solid transparent;
     transition: 0.6s ease;
}

ol li a:hover {
    background-color: #fff;
    color: #000;
}

ol li.active a {
      background-color: #fff;
      color: #000;
}
.USSRFLAG img {
      float: left;
      width: 150px;
      height: auto;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
     position: absolute;
     top: 50%;
     left: 50%; 
     transform: translate(-50%,-50%);
}

.title h1 {
       color: #fff;
       font-size: 30px;    
    
}

body{
    background-color:#f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}

.container{
   width:100%;
   margin:auto;
   overflow:auto;
}   

#whynotcapitalism p{

	box-sizing: border-box;
}

#reform p{
	
	box-sizing: border-box;
}
	
#whysocialism p{
	
	box-sizing: border-box;
}	

#aes p{

	box-sizing: border-box;
}
    
#obstacles p{
    
    box-sizing: border-box;   
}  
 
#revolution p{
    
    box-sizing: border-box;    
}

#main7 p{
    
    box-sizing: border-box;      
}

#main8 p{
    
    box-sizing: border-box;      
}

#main9 p{
    
    box-sizing: border-box;      
}

#main10 p{
    
    box-sizing: border-box;      
}

#main11 p{
    
    box-sizing: border-box;      
}

#main12 p{
    
    box-sizing: border-box;      
}

#main13 p{
    
    box-sizing: border-box;      
}

#china p{
    
    box-sizing: border-box;      
}

#main15 p{
    
    box-sizing: border-box;      
}

#main16 p{
    
    box-sizing: border-box;      
}

#main17 p{
    
    box-sizing: border-box;      
}

#main18 p{
    
    box-sizing: border-box;      
}

#main19 p{
    
    box-sizing: border-box;      
}

#main20 p{
    
    box-sizing: border-box;      
}

#quotes p{
    
    box-sizing: border-box;      
}

#memes p{
    
    box-sizing: border-box;      
}

#main23 p{
    
    box-sizing: border-box;      
}

#main24 p{
    
    box-sizing: border-box;      
}

#main25 p{
    
    box-sizing: border-box;      
}

#main26 p{
    
    box-sizing: border-box;      
}

#main27 p{
    
    box-sizing: border-box;      
}

#main28 p{
    
    box-sizing: border-box;      
}

#main29 p{
    
    box-sizing: border-box;      
}

#main30 p{
    
    box-sizing: border-box;      
}

#feelgood p{
    
    box-sizing: border-box;      
}

}
