
  html *
 

*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("USSRFLAG.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
 
ol {
    float: right;
    list-style-type: none;
    margin-top: 25px;    
}

ol li {
   display: inline-block;
}
  
ol li a {
     text-decoration: none;
     color: #fff;
     padding: 5px 20px;
     border: 1px solid transparent;
     transition: 0.6s ease;
}

ol li a:hover {
    background-color: #fff;
    color: #000;
}

ol li.active a {
      background-color: #fff;
      color: #000;
}
.raised_fist img {
      float: left;
      width: 40px;
      height: auto;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
     position: absolute;
     top: 50%;
     left: 50%; 
     transform: translate(-50%,-50%);
}

.title h1 {
       color: #fff;
       font-size: 30px;    
    
}

body{
    background-color:#f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}

.container{
   width:100%;
   margin:auto;
   overflow:auto;
}   

a {
  color: #2c87f0;
}
a:visited {
  color: #636;
}
a:hover, a:active, a:focus {
  color:#c33;
}

#whynotcapitalism p{

	box-sizing: border-box;
}

#reform p{
	
	box-sizing: border-box;
}
	
#whysocialism p{
	
	box-sizing: border-box;
}	

#aes p{

	box-sizing: border-box;
}
    
#obstacles p{
    
    box-sizing: border-box;   
}  
 
#revolution p{
    
    box-sizing: border-box;    
}

#billionaires p{
    
    box-sizing: border-box;      
}

#altright p{
    
    box-sizing: border-box;      
}

#uscollapse p{
    
    box-sizing: border-box;      
}

#anti-imperialism p{
    
    box-sizing: border-box;      
}

#ddr p{
    
    box-sizing: border-box;      
}

#venezuela p{
    
    box-sizing: border-box;      
}

#cuba p{
    
    box-sizing: border-box;      
}

#china p{
    
    box-sizing: border-box;      
}

#dprk p{
    
    box-sizing: border-box;      
}

#kimjongun p{
    
    box-sizing: border-box;      
}

#ireland p{
    
    box-sizing: border-box;      
}

#security p{
    
    box-sizing: border-box;      
}

#conspiracy p{
    
    box-sizing: border-box;      
}

#boring-dystopia p{
    
    box-sizing: border-box;      
}

#wikipedia p{

	box-sizing: border-box;
}

#quotes p{
    
    box-sizing: border-box;      
}

#memes p{
    
    box-sizing: border-box;      
}

#games p{
    
    box-sizing: border-box;      
}

#film p{
    
    box-sizing: border-box;      
}

#music p{
    
    box-sizing: border-box;      
}

#books p{
    
    box-sizing: border-box;      
}

#reddit p{
    
    box-sizing: border-box;      
}

#resources p{
    
    box-sizing: border-box;      
}

#youtube p{
    
    box-sizing: border-box;      
}

#podcasts p{
    
    box-sizing: border-box;      
}

#feelgood p{
    
    box-sizing: border-box;      
}

}
